@model Product
<div class="container">
	<div class="row">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="Name">Name</label>
				<input asp-for="Name" type="text" class="form-control" placeholder="Enter Name">
			</div>
			<div class="form-group">
				<label asp-for="Description">Description</label>
				<input asp-for="Description" type="text" class="form-control" placeholder="Description">
			</div>
			<div class="form-group">
				<label asp-for="Price">Price</label>
				<input asp-for="Price" type="text" class="form-control" placeholder="Enter Price">
			</div>
			<div class="form-group">
				<label asp-for="Photo">Photo</label>
				<input name="file" type="file" class="form-control" placeholder="Enter Photo">
			</div>
			<div class="form-group">
				<label asp-for="CategoryId">Category</label>
				<select asp-for="CategoryId" class="form-select">
					<option disabled selected>-- Select Category --</option>
					@foreach (var category in ViewBag.Categories)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
			</div>


			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>  
   